// Text Colors
$textColor1: #333333;
$textColor2: #FFFFFF;
// Main Colors
$mainColor1: #6E551B;
$mainColor2: #3C2F10;
// Base Colors
$baseColor1: #ffffff;
$baseColor2: #E2DDD1;
// Accent Colors
$accentColor: #23460F;
// Overlay Colors(透明度付き)
$overlay1: rgba(60, 47, 16, 0.3);   /* #3C2F10, 30% */
$overlay2: rgba(255, 255, 255, 0.85); /* #FFFFFF, 85% */

// Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";
